---
layout: default
---
<header class="post-header">
  <h1 class="post-title">About</h1>
</header>

<h2>Our Project</h2>

<p>We focused on comparing Gothic and Horror fiction from the 18th, 19th, and early 20th centuries. We compiled a <a href="https://drive.google.com/folderview?id=0B4rM2Oyg81XEdGdDdDRFSXBMUU0&usp=sharing" target="_blank">corpus</a> of 213 Gothic and Horror short stories and novels, collected from Project Gutenberg. Using various text analysis methods and tools, we explored the following questions:</p>
<ul>
<li>How might the geographic location of authors in the corpus relate to word choice and frequency?</li>
<li>What is the historical relationship between the Gothic and Horror genres?</li>
<li>What does &#8220;violence&#8221; mean for the texts in this corpus?</li>
<li>What does &#8220;fear&#8221; mean for the texts in this corpus?</li>
</ul>

<p>This project was completed for Lindsay Thomas's undergraduate <a href="http://lindsaythomas.net/engl4590/" target="_blank">Digital Literary Studies</a> course at Clemson University in Spring 2016. It was a totally student-driven experiment in collaborative project development: it was conceived, organized, executed, and implemented by the students in the class over the course of three and a half weeks. We are using this site to share our results and to spur further investigation.</p>

<h2>Our Corpus</h2>

<p>Works in our corpus came from Project Gutenberg&#8217;s <a href="https://www.gutenberg.org/wiki/Gothic_Fiction_(Bookshelf)" target="_blank">Gothic</a> and <a href="https://www.gutenberg.org/wiki/Horror_(Bookshelf)" target="_blank">Horror</a> bookshelves. We collected both short stories and novels, trying to capture everything stored on Project Gutenberg in those categories.</p>

<p>Below are links to our Google drive, which contains the full corpus, the Gothic corpus, the Horror corpus, and folders that contain the corpora each group analyzed and the data they produced in the course of their analysis. Our Google drive also contains a metadata spreadsheet that contains information about each of the texts we collected.</p>

<ul>
<li><a href="https://drive.google.com/folderview?id=0B4rM2Oyg81XEdGdDdDRFSXBMUU0&usp=sharing" target="_blank">Entire corpus (213 works)</a></li>
<li><a href="https://docs.google.com/spreadsheets/d/1V8kMk5pOgqZpFZRSEEiyzEviHHiQWu5B2DnxInsPvsg/edit?usp=sharing" target="_blank">metadata spreadsheet</a></li>
<li><a href="https://drive.google.com/folderview?id=0B4rM2Oyg81XENDVRNjNTNlRjZTA&usp=sharing" target="_blank">Gothic texts</a></li>
<li><a href="https://drive.google.com/folderview?id=0B4rM2Oyg81XEZjNXMVNvQ1hDdlE&usp=sharing" target="_blank">Horror texts</a></li>
<li><a href="https://drive.google.com/folderview?id=0B4rM2Oyg81XEQUMzOTJlN0xCa2M&usp=sharing" target="_blank">Texts of unknown genre</a></li>
</ul>

<h2>Class Members</h2>
<ul>
  <li>Tracy Bennett</li>
<li>Betsy Boggs</li>
<li>Dallas Childers</li>
<li>Abby Cothran</li>
<li>Lauren Craig</li>
<li>Morgan Derrick</li>
<li>Edith Dunlap</li>
<li>Raelyn Fate</li>
<li>Anne Giordano</li>
<li>Joey Glass</li>
<li>Tanner Massey</li>
<li>Courtney Meola</li>
<li>Lissa Milano</li>
<li>Teylor Newsome</li>
<li>Gavin Oliver</li>
<li>Ian Seale</li>
<li>Kate Thomas</li>
<li>Kelsey Turner</li>
</ul>

<h2>Resources and Acknowledgments</h2>

<p>Final project assignment page: <a href="http://lindsaythomas.net/engl4590/final-project/" target="_blank">http://lindsaythomas.net/engl4590/final-project/</a></p>

<p>Many thanks to Alan Liu and the students in his <a href="http://english197s2015.pbworks.com/w/page/93127947/FrontPage" target="_blank">Hacking Literary Interpretation</a> course at UC Santa Barbara. Their <a href="http://english197s2015studentwork.pbworks.com/w/page/96659757/Our%20Corpora" target="_blank">final project</a> was a model for ours.</p>
